/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  line-height: 1.6;
  color: #333;
}

.app-bar {
  z-index: 1000;
  border: 2px solid #343A40;
  background-color: #F5F7F8;
  padding: 1.5em 1em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
}

.app-bar h1 {
  font-family: 'UbuntuBold';
  font-size: 70px;
  color: #B14749;
}

.nav-btn {
  font-family: 'UbuntuReg';
  font-size: 22px;
  background: transparent;
  border: none;
  color: #53555B;
  cursor: pointer;
  padding: 0.5em 1em;
  transition: color 0.2s;
}

.nav-btn:hover {
  color: #B14749;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
  padding: 10px;
  width: 100%;
}

.sidebar {
  width: 250px;
  background-color: #ff5959;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li button {
  width: 100%;
  padding: 15px;
  background-color: #B14749;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar ul li button:hover {
  background-color: #AC282E;
}

.main-content {
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content h2 {
  font-family: 'UbuntuBold';
  font-size: 32px;
  color: #ff5959;
}

.main-content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.language-buttons button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #333;
  color: white;
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.language-buttons button:hover {
  background-color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    margin-bottom: 20px;
  }
}
